<div class="row  row-top-padding row-bottom-margin">
	<div class="grid-unit page-title-column">
		<h2 class="about-us page-title">Web Log</h2>
   </div>
</div>

<ul class="row post-list">
	<% for post in @posts 
		type = cycle("left-image", "right-image")
	%>

		<% if (type == "left-image") %>
			<li class="row with-margins ">
				<div class="page-column">
					<div class="grid-unit main-column">
						<h3 class="post-title"><%= post.title %></h3>
						<p class="post-date"><%= post.created_at%> by <%= post.user.name %></h3>
						<div class="white-rounded-frame post-image-container">
							<%= image_tag(post.image_src, {:class => "post-image"}) %>
						</div>
						<p class="post-body"><%= raw(post.body) %></p>
					</div>
				</div>
			</li>

		<% else %>

			<li class="row with-margins post-top-padding">
				<div class="page-column">
					<div class="grid-unit main-column">
						<h3 class="post-title"><%= post.title %></h3>
						<p class="post-date"><%= post.created_at%> by <%= post.user.name %></h3>
						<div class="white-rounded-frame post-image-container">
							<%= image_tag(post.image_src, {:class => "post-image"}) %>
						</div>
						<p class="post-body"><%= raw(post.body) %></p>
				   </div>
				</div>
			</li>

		<% end %>
	

	<% end %>
</ul>	