<div class="row with-margins row-top-padding row-bottom-margin">
	<div class="grid-unit page-column">
		<h2 class="about-us page-title"><%= t('page_sections.home.title') %></h2>
		<p class="about-us">
			<%= raw( t('page_sections.home.about_this_page') )%>
		</p>	
   </div>
</div>


<div class="row with-margins row-top-margin row-bottom-margin">
	<div class="grid-unit page-column">
		<div class="grid-unit matrix-skills-column">		
			<h2 class="skill-title"><i class="icon-graduation-cap"></i> <%= t('page_sections.home.skills.studies.title') %></h2>		
			<p class="skill-description"><%= raw( t('page_sections.home.skills.studies.desc') )%></p>
	   </div>


		<div class="grid-unit matrix-skills-column">							
			<h2 class="skill-title"><i class="icon-mobile"></i> <%= t('page_sections.home.skills.ios.title') %></h2>
			<p class="skill-description"><%= raw( t('page_sections.home.skills.ios.desc') )%></p>
	   </div>


		<div class="grid-unit matrix-skills-column">
			<h2 class="skill-title"><i class="icon-cloud"></i> <%= t('page_sections.home.skills.web.title') %></h2>
			<p class="skill-description"><%= raw( t('page_sections.home.skills.web.desc') )%></p>
	   </div>
	</div>
</div>