<div class="row with-margins row-top-padding row-bottom-margin">
	<div class="grid-unit page-column">		
		<p class="about-us"> 
			<%= raw( t('page_sections.home.about_this_page') )%>
		</p>	
   </div>
</div>


<div class="row with-margins row-top-margin row-bottom-margin">
	<div class="grid-unit page-column">
		<div class="grid-unit matrix-skills-column animatable-from-left skill-ndelay">		
			<h2 class="skill-title"><%= image_tag('skill-icon-graduation-cap.png', {:class => "skill-icon-image"}) %> <%= t('page_sections.home.skills.studies.title') %></h2>		
			<p class="skill-description"><%= raw( t('page_sections.home.skills.studies.desc') )%></p>
	   </div>


		<div class="grid-unit matrix-skills-column animatable-from-center skill-ndelay">
			<h2 class="skill-title"><%= image_tag('skill-icon-mobile.png', {:class => "skill-icon-image"}) %> <%= t('page_sections.home.skills.ios.title') %></h2>
			<p class="skill-description"><%= raw( t('page_sections.home.skills.ios.desc') )%></p>
	   </div>


		<div class="grid-unit matrix-skills-column animatable-from-right skill-ndelay">
			<h2 class="skill-title"><%= image_tag('skill-icon-cloud.png', {:class => "skill-icon-image"}) %> <%= t('page_sections.home.skills.web.title') %></h2>
			<p class="skill-description"><%= raw( t('page_sections.home.skills.web.desc') )%></p>
	   </div>
	</div>
</div>