<ul class="row post-list">
	<li class="row with-margins post-top-padding">
		
		<div class="grid-unit apps-matrix-column ">
			<%= image_tag("apps-icons/ig.png", {:class => "app-icon"}) %>
			<p>IG</p>
		</div>

		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/sedition.png", {:class => "app-icon"}) %>
			<p>Sedition Art</p>
		</div>


		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/planning-poker.png", {:class => "app-icon"}) %>
			<p>Planning Poker</p>
		</div>


		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/gareth-cliff.png", {:class => "app-icon"}) %>
			<p>Gareth Cliff</p>
		</div>

	</li>


	<li class="row with-margins post-top-padding">
		
		<div class="grid-unit apps-matrix-column ">
			<%= image_tag("apps-icons/ig.png", {:class => "app-icon"}) %>
			<p>IG</p>
		</div>

		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/flat-white.png", {:class => "app-icon"}) %>
			<p>Flat White</p>
		</div>


		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/planning-poker.png", {:class => "app-icon"}) %>
			<p>Planning Poker</p>
		</div>


		<div class="grid-unit apps-matrix-column">
			<%= image_tag("apps-icons/gareth-cliff.png", {:class => "app-icon"}) %>
			<p>Gareth Cliff</p>
		</div>

	</li>
</ul>	