<div class="row  row-top-padding">
	<div class="grid-unit page-title-column">
		<h2 class="about-us page-title">iOS Applications</h2>
   </div>
</div>

<ul class="row post-list">

	<% 	row_index = 0
		@rows.each do |row| %>
		<li class="row with-margins apps-row-top-padding">
			<% row.each do |app| %>
				<div class="grid-unit apps-matrix-column ">
					<%= link_to(app_path(app), :class=>"app-link row-#{row_index}") do %>
						<%= image_tag(app.image_src, {:class => "app-icon"}) %>
					<% end %>					
					<p><%= app.name %></p>
				</div>
			<% end %>
		</li>
		<li class="row app-description-row-hidden expansion-row row-<%= row_index %>">
			<div class="arrow-up row-<%= row_index %>"></div>
			<div class="with-margins app-description-placeholder"></div>
		</li>

	<% 	row_index += 1
		end %>
</ul>


<ul class="app-descriptions-archive">
	<% @apps.each do |app| %>
		<li id="<%= transform_image_name_to_id(app.image_src)%>">
			<div class="grid-unit app-description-column">
				<%= app.description %>
			</div>
			<div class="grid-unit app-description-column">
				<%= app.second_description %>
			</div>
		</li>
	<% end %>
</ul>

<script>
	addExpandableRowBehaviourToAppLinks();
</script>